---
import GeneralCarrusel from "@general/GeneralCarrusel.astro";


const {producto, tallas, Colores } = Astro.props;

console.log(Colores)

let Nombre = producto.name;
let Precio = producto.price;
let arrayImagenes = producto.images;
let id = producto.id;
let tag = producto.tag;

interface interfazTalla {
  tag: string;
}


let URL = encodeURI(`${tag}-${id}`);


let find = tallas.findIndex((e: interfazTalla) => {
  //console.log(e)
  return e.tag == tag;
});

//console.log(tallas[find])


//console.log(arrayImagenes);
URL = "/p/"+URL
---

<a href={URL} class="card flex flex-col">
  <div class="">
    <GeneralCarrusel Nombre = {Nombre}, Precio = {Precio}, id={id},  arrayImagenes ={arrayImagenes} tallas={tallas[find]} producto = {producto}/>
  </div>
  <div class=" flex flex-col">
    <div class="text-gray-800 text-xl">{Nombre}</div>
    <div class="text-sm text-gray-500">{Colores} colores</div>
    <div class="precio text-gray-900">{Precio}€</div>
  </div>
</a>

