---
import GeneralCarrusel from "@general/GeneralCarrusel.astro";


const {Nombre, Colores, Precio, arrayImagenes, id, tag } = Astro.props;

let URL = encodeURI(`${tag}-${id}`);

//console.log(arrayImagenes);
URL = "/p/"+URL
---

<a href={URL} class="card flex flex-col">
  <div class="">
    <GeneralCarrusel arrayImagenes ={arrayImagenes}/>
  </div>
  <div class=" flex flex-col">
    <div class="text-gray-800 text-xl">{Nombre}</div>
    <div class="text-sm text-gray-500">{Colores} colores</div>
    <div class="precio text-gray-900">{Precio}€</div>
  </div>
</a>

