---
import Layout from "@layouts/Layout.astro";
import CarritoProducto from "@carrito/CarritoProducto.astro";
import CarritoLateral from "@carrito/CarritoLateral.astro";
import CarritoSuperior from "@components/Carrito/CarritoSuperior.astro";
import {fetchProductos} from "@utils/fetchProductos.ts";
import GeneralBotonPago from "@components/General/GeneralBotonPago.astro";
import GeneralBotonApple from "@components/General/GeneralBotonApple.astro";
import arrayRecomendaciones from "@components/Carrito/arrayProductos.json";
import ProductoCarrusel from "@components/Producto/ProductoCarrusel.astro";


let respuesta = await fetchProductos();
let arrayCategorias: any[] = respuesta.data.Categories;
let arrayTexto = respuesta.data.TickerTexts

let arrayProductos: any[] = respuesta.data.Products;


//console.log(arrayRecomendaciones);
---

<Layout arrayTexto={arrayTexto} mostrarTicker={true} botonIA={false}>

<div x-data="objetoAlpine">
  
  <div class="md:hidden fixed z-50 w-full bg-white bottom-0 p-4 py-2">
    <GeneralBotonApple></GeneralBotonApple>
    <a href="/checkout">
      <GeneralBotonPago texto="Confirmar pedido"></GeneralBotonPago>
    </a>
</div>

<div class="max-w-7xl mx-auto md:px-6">



  <div class="md:flex md:flex-col items-center col-span-8 min-w-4/5">
<div class="w-full">
  <CarritoSuperior cantidad="5"></CarritoSuperior>
</div>
    <div class="md:flex w-full grow">
      <!--izquierda-->

<div class="flex flex-col md:w-3/5 ml-0 sm:ml-6 md:ml-10 lg:ml-15">



  
    <template x-for="producto in carrito" >
      <CarritoProducto></CarritoProducto>
    </template>

   
    <div class="hidden md:block">
      <ProductoCarrusel ArrayRecomendaciones={arrayRecomendaciones} />
    </div>
  </div>
  <!-- derecha -->
  <div class="md:w-2/5 px-5 mb-2">
    <CarritoLateral numeroProducto="4" precio="20" />

<div class="hidden md:block">
  <GeneralBotonApple></GeneralBotonApple>
  <a href="/checkout">
    <GeneralBotonPago texto="Confirmar pedido"></GeneralBotonPago>
  </a>
</div>
  </div>
</div>
  </div>


  </div>

</div>
  
  </Layout>
  

<script>

  import clonar from "@utils/localStorage"
import Alpine from "alpinejs";
  

const stored = localStorage.getItem("carrito");
let carrito
if (stored!=null){
  carrito = JSON.parse(stored)
}


let objetoAlpine = {

  carrito: carrito,
  pagina: 'carrito',
   removeFromCarrito(producto: any) {
    this.carrito = this.carrito.filter((item: any) => 
      !(item.id === producto.id && item.talla === producto.talla && item.color === producto.color)
    );
    localStorage.setItem('carrito', JSON.stringify(this.carrito));
  }
}
Alpine.data('objetoAlpine', () => objetoAlpine)

//  clonar()
</script>