---
import CategoriasMenuSticky from "@components/Categorias/CategoriasMenuSticky.astro";
import Layout from "../layouts/Layout.astro";
import CategoriasFiltros from "@components/Categorias/CategoriasFiltros.astro";
import CategoriasFinal from "@components/Categorias/CategoriasFinal.astro";
import CategoriasContenedorCard from "@components/Categorias/CategoriasContenedorCard.astro";

import categoriaVideo from "@assets/CategoriaVideo.webm";


import {fetchProductos} from "../utils/fetchProductos.ts";

let titulo = "Ropa y Calzado para hombre"
let numeroProductos = 1000

let ArrayTallas = [
    {
        Size: 35,
        Precio: 95,
        Disponibilidad: true
    },
    {
        Size: 36,
        Precio: 95,
        Disponibilidad: true
    },
    {
        Size: 37,
        Precio: 95,
        Disponibilidad: true
    }]



let respuesta = await fetchProductos();
console.log(respuesta)
let arrayProductos: any[] = respuesta.data.Products;



let arrayTexto = respuesta.data.TickerTexts






---

<Layout arrayTexto={arrayTexto} mostrarTicker={true}>
  <CategoriasMenuSticky titulo={titulo}, numeroProductos={numeroProductos} />
  <div class="flex">
    <CategoriasFiltros ArrayTallas={ArrayTallas} arrayColores={respuesta.data.Colors}/>
    <CategoriasContenedorCard arrayCards={arrayProductos}>
  <video autoplay muted loop class="row-start-1 row-end-1 col-start-2 col-end-2 md:col-start-3 md:col-end-3">
              <source src={categoriaVideo} type="video/webm" />

  </video>

    </CategoriasContenedorCard>
  </div>
  <CategoriasFinal numeroProductos={numeroProductos} numeroCards={arrayProductos.length} />
</Layout>
