---
import InicioCarrusel from "../components/Inicio/InicioCarrusel.astro"
import InicioSlider from "../components/Inicio/InicioSlider.astro"
import Layout from "../layouts/Layout.astro"
import spain from "@assets/spain.svg"


import inicio2 from "@assets/inicio2.avif";
import inicio3 from "@assets/inicio3.avif";
import inicio1 from "@assets/inicio1.webm";




const APIROCKET_ECOMMERCE_TOKEN = import.meta.env.APIROCKET_ECOMMERCE_TOKEN;


let myQuery = `query MyQuery {
  Categories {
    image {
      url
    }
    name
    alt
  }
}


`

    async function fetchApirocket(query: String) {

  const options = {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'Authorization': `Bearer ${APIROCKET_ECOMMERCE_TOKEN}`
    },
    body: JSON.stringify({query})
  }

  const data = await fetch('https://graphql.apirocket.io', options).then(response => response.json())
  return data
}

let ArrayCategorias = (await fetchApirocket(myQuery)).data.Categories;


    


---



<Layout title="Inicio" lang="es" flag={spain.src}>
    <InicioSlider>
      <div class="relative min-w-full h-full">
        <video class="w-full h-full object-cover" autoplay muted loop>
          <source src={inicio1} type="video/webm" />
        </video>
        <div
          class="absolute bottom-0 left-0 right-0 bg-linear-to-t h-1/3 from-black/60 to-transparent"
        >
        </div>
        <div class="absolute bottom-1/12 left-10 right-0 z-10">
          <div class="md:text-xl text-white">
            Extra 20% aplicado al pagar. <a href="" class="underline"
              >Términos y condiciones.</a>
          </div>
          <div class="md:text-2xl text-white">
            <a href="a" class="underline">Comprar ahora</a>
          </div>
        </div>
      </div>

      <div class="relative w-full min-w-full h-full">
        <img
          class="w-full h-full object-cover"
          src={inicio2.src}
          alt="Mocasines 2"
        />
        <div
          class="absolute bottom-0 left-0 right-0 bg-linear-to-t from-black/60 to-transparent h-1/3"
        >
        </div>
        <div class="absolute bottom-1/12 left-10 right-0 z-10">
          <div class="text-3xl md:text-7xl text-white">
            Tu historia de amor. Tu estilo
          </div>
          <div class="md:text-2xl text-white">
            <a href="a" class="underline">Comprar ahora</a>
          </div>
        </div>
      </div>

      <div class="relative w-full min-w-full h-full">
        <img
          class="w-full h-full object-cover "
          src={inicio3.src}
          alt="Mocasines 3"
        />
        <div
          class="absolute bottom-0 left-0 right-0 bg-linear-to-t h-1/3 from-black/60 to-transparent"
        >
        </div>
        <div class="absolute bottom-1/12 left-10 right-0 z-10">
          <div class="text-3xl md:text-7xl text-white">
            Skate loafer. Ha vuelto.
          </div>
          <div class="md:text-2xl text-white">
            <a href="a" class="underline">Comprar ahora</a>
          </div>
        </div>
      </div>
    </InicioSlider>
    <InicioCarrusel ArrayCategorias = {ArrayCategorias}/>
          <!-- <div class="md:hidden">
        <InicioCarruselResponsive />
      </div> -->

</Layout>

<script>

document.addEventListener("scroll", transparentarNav)
let nav = document.querySelector('nav');

if (nav!=null){

  nav.style.backgroundColor = "transparent"
  nav.style.position = "fixed"
  nav.style.color="white"  
}
function transparentarNav(){
  if (nav==null){
    return
  }

  if(window.scrollY>nav.clientHeight){
        nav.style.backgroundColor = "white"
        nav.style.color="black"
  }
  else{
    nav.style.backgroundColor = "transparent"
    nav.style.color="white"
  }
}


</script>