---
import GeneralCarrusel from "@general/GeneralCarrusel.astro"
import Layout from "../layouts/Layout.astro"
import ProductoImagenes from "@producto/ProductoImagenes.astro";
import ProductoLateral from "@producto/ProductoLateral.astro"
import ProductoTallas from "@producto/ProductoTallas.astro"
import GeneralAccordion from "@general/GeneralAccordion.astro"
import GeneralAccordionScript from "@general/GeneralAccordionScript.astro"
import ProductoReview from "@producto/ProductoReview.astro"
import ProductoCarrusel from "@producto/ProductoCarrusel.astro"


import mocasines1 from "@assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes.avif";
import mocasines2 from "@assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (1).avif";
import mocasines3 from "@assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (2).avif";
import mocasines4 from "@assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (3).avif";
import mocasines5 from "@assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (4).avif";


let ArrayProductoImagenes = [mocasines1, mocasines2, mocasines3, mocasines4, mocasines5, mocasines1, mocasines2, mocasines3, mocasines4, mocasines5, mocasines1, mocasines2, mocasines3, mocasines4, mocasines5, mocasines1]
let ArrayRecomendaciones = [
    {
        Nombre: "Zapatillas Knu Skool",
        Imagen: mocasines1,
        Precio: 100
    },
    {
        Nombre: "Zapatillas Knu Skool",
        Imagen: mocasines1,
        Precio: 10
    },
    {
        Nombre: "Zapatillas Knu Skool",
        Imagen: mocasines4,
        Precio: 100
    },
    {
        Nombre: "Zapatillas  s Skool",
        Imagen: mocasines1,
        Precio: 100
    },
    {
        Nombre: "Zapatillas Knu Skool",
        Imagen: mocasines1,
        Precio: 100
    },
    {
        Nombre: "Zapatillas Knu Skool",
        Imagen: mocasines1,
        Precio: 100
    }
]



let ArrayTallas = [
    {
        Size: 35,
        Precio: 95,
        Disponibilidad: true
    },
    {
        Size: 36,
        Precio: 95,
        Disponibilidad: true
    },
    {
        Size: 37,
        Precio: 95,
        Disponibilidad: true
    },
    {
        Size: 38,
        Precio: 95,
        Disponibilidad: false
    },
    {
        Size: 39,
        Precio: 95,
        Disponibilidad: true
    },
    {
        Size: 40,
        Precio: 95,
        Disponibilidad: false
    },
    {
        Size: 41,
        Precio: 95,
        Disponibilidad: true
    },
    {
        Size: 42,
        Precio: 95,
        Disponibilidad: true
    },
    {
        Size: 43,
        Precio: 95,
        Disponibilidad: true
    },
    {
        Size: 35,
        Precio: 95,
        Disponibilidad: true
    },
    {
        Size: 36,
        Precio: 95,
        Disponibilidad: true
    },
    {
        Size: 37,
        Precio: 95,
        Disponibilidad: true
    },
    {
        Size: 38,
        Precio: 95,
        Disponibilidad: false
    },
    {
        Size: 39,
        Precio: 95,
        Disponibilidad: true
    },
    {
        Size: 40,
        Precio: 95,
        Disponibilidad: false
    },
    {
        Size: 41,
        Precio: 95,
        Disponibilidad: true
    },
    {
        Size: 42,
        Precio: 95,
        Disponibilidad: true
    },
    {
        Size: 43,
        Precio: 95,
        Disponibilidad: true
    }
]



---

<Layout>
    <div class="up md:flex">
    <ProductoImagenes ArrayProductoImagenes={ArrayProductoImagenes}></ProductoImagenes>
    
    <div class="md:hidden">
        <GeneralCarrusel arrayImagenes={ArrayProductoImagenes}/>
    </div>
    
    <ProductoLateral ArrayColoresImagenes={ArrayProductoImagenes} Precio=100 Nombre="Zapatillas Knu Skool" Descripcion="Uso Diario, diseño retro" Categoria="zapatillas" />
    <ProductoTallas ArrayTallas = {ArrayTallas}>
</div>


    <GeneralAccordion
      title="title"
      content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt soluta saepe nemo, fuga impedit cumque quaerat porro accusamus consectetur dolorum, tenetur ratione voluptates blanditiis non voluptas dolor iure! Quas, similique"
    />
    <GeneralAccordion
      title="title"
      content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt soluta saepe nemo, fuga impedit cumque quaerat porro accusamus consectetur dolorum, tenetur ratione voluptates blanditiis non voluptas dolor iure! Quas, similique"
    />
        <GeneralAccordionScript/>
        <ProductoCarrusel  ArrayRecomendaciones={ArrayRecomendaciones}/>
        <ProductoReview NumeroReviews="300" Puntuacion=51 /> <!-- La puntuacion que hay que mandar es SOBRE 100 -->

    </Layout>

