---
import GeneralCarrusel from "@general/GeneralCarrusel.astro"
import Layout from "../layouts/Layout.astro"
import ProductoImagenes from "@producto/ProductoImagenes.astro";
import ProductoLateral from "@producto/ProductoLateral.astro"
import ProductoTallas from "@producto/ProductoTallas.astro"
import GeneralAccordion from "@general/GeneralAccordion.astro"
import GeneralAccordionScript from "@general/GeneralAccordionScript.astro"
import ProductoReview from "@producto/ProductoReview.astro"
import ProductoCarrusel from "@producto/ProductoCarrusel.astro"



const APIROCKET_ECOMMERCE_TOKEN = import.meta.env.APIROCKET_ECOMMERCE_TOKEN;





let queryCards = `query MyQuery {
  Products {
    name
    price
    sizes {
      size
    }
    variants {
      arrayImages {
        url
      }
      color
    }
    defaultVariant {
      id
    }
    colors
    arrayImages {
      url
    }
  }
}



`

 
async function fetchApirocket(query: String) {

  const options = {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'Authorization': `Bearer ${APIROCKET_ECOMMERCE_TOKEN}`
    },
    body: JSON.stringify({query})
  }

  const data = await fetch('https://graphql.apirocket.io', options).then(response => response.json())
  return data
}
let respuesta = (await fetchApirocket(queryCards))

let arrayProductos = respuesta.data.Products;
let arrayTallas = respuesta.data.Sizes;


let queryText = `query MyQuery {
  TickerTexts {
    text
  }
}
`

let arrayTexto = (await fetchApirocket(queryText)).data.TickerTexts


---

<Layout arrayTexto={arrayTexto} mostrarTicker={true}>

    <!-- Boton fixed en responsive que desaparece cuando esta en otro en pantalla, no tengo ni idea de como hacer esto -->
        <!-- <div class="fixed bottom-0  z-50 bg-white w-full flex items-center justify-center border-t">
        <button
          type="button"
          class="px-6 py-3 my-5 bg-[rgb(38,36,36)] text-white hover:bg-black transition-all duration-150 text-center hover:cursor-pointer w-9/10"
        >
          Añade a la cesta
        </button>
    </div> -->

    <div class="up md:flex md:items-start">
    <ProductoImagenes ArrayProductoImagenes={arrayProductos[0]}></ProductoImagenes>
    
    <div class="md:hidden">
        <GeneralCarrusel arrayImagenes={arrayProductos[0].arrayImages}/>
    </div>
    
    <ProductoLateral ArrayProductos={arrayProductos[0]} Precio=100 Nombre="Zapatillas Knu Skool" Descripcion="Uso Diario, diseño retro" Categoria="zapatillas" />
    <ProductoTallas arrayTallas={arrayTallas}>
</div>

<div class="mt-8">
    <GeneralAccordion
      title="title"
      content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt soluta saepe nemo, fuga impedit cumque quaerat porro accusamus consectetur dolorum, tenetur ratione voluptates blanditiis non voluptas dolor iure! Quas, similique"
    />
    <GeneralAccordion
      title="title"
      content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt soluta saepe nemo, fuga impedit cumque quaerat porro accusamus consectetur dolorum, tenetur ratione voluptates blanditiis non voluptas dolor iure! Quas, similique"
    />
        <GeneralAccordionScript/>
        <ProductoCarrusel  ArrayRecomendaciones={arrayProductos}/>
        <ProductoReview NumeroReviews="300" Puntuacion=90 /> <!-- La puntuacion que hay que mandar es SOBRE 100 -->
</div>
    </Layout>


<script>
if(window.innerWidth<756){
    document.addEventListener("scroll", transparentarNav)
    let nav = document.querySelector('nav');
    
    if (nav!=null){
        
        nav.style.backgroundColor = "transparent"
        nav.style.position = "sticky"
        nav.style.color="black"  
        
    }
    function transparentarNav(){
        if (nav==null){
            return
        }
        
        if(window.scrollY>nav.clientHeight){
            nav.style.backgroundColor = "white"
            nav.style.color="black"
        }
        else{
            nav.style.backgroundColor = "transparent"
            nav.style.color="black"
        }
    }
}

</script>