---
import mocasines1 from '../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes.avif';
import mocasines2 from '../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (1).avif';
import mocasines3 from '../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (2).avif';
import mocasines4 from '../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (3).avif';
import mocasines5 from '../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (4).avif';
---

<div class="carrusel w-full h-full relative group">
  <div class="marco w-full h-full overflow-auto">
    <div class="imagenes flex transition-all duration-150">
      <img class="w-full min-w-full h-full object-contain p-2 shrink-0" src={mocasines1.src} />
      <img class="w-full min-w-full h-full object-contain p-2 shrink-0" src={mocasines2.src} />
      <img class="w-full min-w-full h-full object-contain p-2 shrink-0" src={mocasines3.src} />
      <img class="w-full min-w-full h-full object-contain p-2 shrink-0" src={mocasines4.src} />
      <img class="w-full min-w-full h-full object-contain p-2 shrink-0" src={mocasines5.src} />
    </div>
  </div>
  
  <!-- Left Arrow -->
  <button class="absolute left-0 top-1/2 -translate-y-1/2 z-50 hidden group-hover:block">
    <svg class="w-6 h-6 rotate-180" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
      <path fill="currentColor" d="M9.91 24.96 19.37 16 9.9 7.04l1.5-1.58L22.54 16 11.41 26.54l-1.5-1.58Z"/>
    </svg>
  </button>

  <!-- Right Arrow -->
  <button class="absolute right-0 top-1/2 -translate-y-1/2 z-50 hidden group-hover:block">
    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
      <path fill="currentColor" d="M9.91 24.96 19.37 16 9.9 7.04l1.5-1.58L22.54 16 11.41 26.54l-1.5-1.58Z"/>
    </svg>
  </button>
</div>


  <button class="absolute right-0 top-0 z-50 group-hover:block">
<svg class="w-6 h-6"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" id="close">
    <path fill=currentColor" d="m25.54 8-8 8 8 8L24 25.54l-8-8-8 8L6.46 24l8-8-8-8L8 6.46l8 8 8-8L25.54 8Z"/>
</svg>
  </button>
</div>