---
import spain from '../assets/spain.svg';

---
<div class="carrusel">
    <div class="marco overflow-hidden w-20 h-20">
        <div class="imagenes flex">
            <img src={spain.src}>
            <img src={spain.src}>
            <img src={spain.src}>
            <img src={spain.src}>
            <img src={spain.src}>
        </div>
    </div>
</div>