---
import mocasines1 from '../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes.avif';
import mocasines2 from '../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (1).avif';
import mocasines3 from '../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (2).avif';
import mocasines4 from '../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (3).avif';
import mocasines5 from '../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (4).avif';
---

<div class="carrusel w-full h-full relative group overflow-hidden">
  <div class="marco w-full h-full overflow-auto">
    <div class="imagenes flex transition-all duration-150">
      <img class="w-full min-w-full h-full object-contain p-2 shrink-0" src={mocasines1.src} />
      <img class="w-full min-w-full h-full object-contain p-2 shrink-0" src={mocasines2.src} />
      <img class="w-full min-w-full h-full object-contain p-2 shrink-0" src={mocasines3.src} />
      <img class="w-full min-w-full h-full object-contain p-2 shrink-0" src={mocasines4.src} />
      <img class="w-full min-w-full h-full object-contain p-2 shrink-0" src={mocasines5.src} />
    </div>
  </div>
  
  <!-- Flecha izquierda -->
  <button class="absolute leftArrow -left-10 top-1/2 -translate-y-1/2 z-30  opacity-0 group-hover:opacity-100 transition-all duration-200 group-hover:left-5 cursor-pointer">
    <svg class="w-6 h-6 rotate-180" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
      <path fill="currentColor" d="M9.91 24.96 19.37 16 9.9 7.04l1.5-1.58L22.54 16 11.41 26.54l-1.5-1.58Z"/>
    </svg>
  </button>

  <!-- Flecha derecha -->
  <button class="absolute rightArrow -right-10 top-1/2 -translate-y-1/2 z-30 opacity-0 group-hover:opacity-100 transition-all duration-200 group-hover:right-5 overflow-hidden cursor-pointer" >
    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
      <path fill="currentColor" d="M9.91 24.96 19.37 16 9.9 7.04l1.5-1.58L22.54 16 11.41 26.54l-1.5-1.58Z"/>
    </svg>
  </button>

<!-- Simbolo mas -->

  <button class="absolute right-2 top-6 -translate-y-1/2 z z-20 cursor-pointer">
<svg class="w-6 h-6"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" id="close">
  <path xmlns="http://www.w3.org/2000/svg" d="M17.1 5.9v9h9v2.2h-9v9h-2.2v-9h-9v-2.2h9v-9h2.2Z"/>
</svg>
  </button>

</div>

</div>