---
import mocasines1 from '../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes.avif';
import mocasines2 from '../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (1).avif';
import mocasines3 from '../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (2).avif';
import mocasines4 from '../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (3).avif';
import mocasines5 from '../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (4).avif';

---
<div class="carrusel w-full h-full">
    <div class="marco w-full h-full overflow-hidden">
        <div class="imagenes  flex *:trasition-all duration-150">
            <img class="w-full h-full object-contain p-2" src={mocasines1.src}>
            <img class="w-full h-full object-contain p-2" src={mocasines2.src}>
            <img class="w-full h-full object-contain p-2" src={mocasines3.src}>
            <img class="w-full h-full object-contain p-2" src={mocasines4.src}>
            <img class="w-full h-full object-contain p-2" src={mocasines5.src}>
        </div>
    </div>
</div>


<script>
  const imagenes = document.querySelector<HTMLElement>(".imagenes");

    
// function moverDerecha(){
//     if(imagenes != null){
//         imagenes.append(imagenes.firstElementChild);
//     }
// }
// imagenes?.addEventListener("click", moverDerecha);

// function moverIzquierda(){
//     if(imagenes != null){
//         imagenes.prepend(imagenes.lastElementChild);
//     }
// }
// imagenes?.addEventListener("keyup", moverIzquierda);


  let currentPosition = 0;
    
  function moverDerecha() {
    if (imagenes != null) {

        currentPosition -= 100;
        if(currentPosition>-500){
            imagenes.style.transform = `translateX(${currentPosition}%)`;
        }
    }
  }
  //ARREGLA ESTO COLOCANDO EL METODO EN LA CATEGORIA!!!
  
  imagenes?.addEventListener("click", moverDerecha);
</script>

</script>