---
import mocasines1 from "../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes.avif";
import mocasines2 from "../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (1).avif";
import mocasines3 from "../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (2).avif";
import mocasines4 from "../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (3).avif";
import mocasines5 from "../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (4).avif";
---

<div class="text-xl ml-10 text-neutral-500 mt-5">También te aconsejamos</div>
<div class="carrusel w-full h-full relative">
  <div class="carrusel w-full h-full relative">
    <div class="marco w-full h-full overflow-auto">
      <div class="imagenes flex transition-all duration-150">
        <div
          class="relative w-1/1 min-w-1/1 md:w-1/5 md:min-w-1/5 h-full flex flex-col items-center"
        >
          <img
            class="w-full h-full object-contain p-2"
            src={mocasines1.src}
            alt="Mocasines 1"
          />
          <p class="text-center p-2 w-full">
            <div>Zapatillas Knu Skool</div><div
              class="text-xs text-neutral-500"
            >
              100€
            </div>
          </p>
        </div>
        <div
          class="relative w-1 min-w-1/1 md:w-1/5 md:min-w-1/5 h-full flex flex-col items-center"
        >
          <img
            class="w-full h-full object-contain p-2"
            src={mocasines2.src}
            alt="Mocasines 2"
          />
          <p class="text-center p-2 w-full">
            <div>Zapatillas Knu Skool</div><div
              class="text-xs text-neutral-500"
            >
              100€
            </div>
          </p>
        </div>
        <div
          class="relative w-1 min-w-1/1 md:w-1/5 md:min-w-1/5 h-full flex flex-col items-center"
        >
          <img
            class="w-full h-full object-contain p-2"
            src={mocasines3.src}
            alt="Mocasines 3"
          />
          <p class="text-center p-2 w-full">
            <div>Zapatillas Knu Skool</div><div
              class="text-xs text-neutral-500"
            >
              100€
            </div>
          </p>
        </div>
        <div
          class="relative w-1 min-w-1/1 md:w-1/5 md:min-w-1/5 h-full flex flex-col items-center"
        >
          <img
            class="w-full h-full object-contain p-2"
            src={mocasines4.src}
            alt="Mocasines 4"
          />
          <p class="text-center p-2 w-full">
            <div>Zapatillas Knu Skool</div><div
              class="text-xs text-neutral-500"
            >
              100€
            </div>
          </p>
        </div>
        <div
          class="relative w-1 min-w-1/1 md:w-1/5 md:min-w-1/5 h-full flex flex-col items-center"
        >
          <img
            class="w-full h-full object-contain p-2"
            src={mocasines4.src}
            alt="Mocasines 4"
          />
          <p class="text-center p-2 w-full">
            <div>Zapatillas Knu Skool</div><div
              class="text-xs text-neutral-500"
            >
              100€
            </div>
          </p>
        </div>
        <div
          class="relative w-1 min-w-1/1 md:w-1/5 md:min-w-1/5 h-full flex flex-col items-center"
        >
          <img
            class="w-full h-full object-contain p-2"
            src={mocasines4.src}
            alt="Mocasines 4"
          />
          <p class="text-center p-2 w-full">
            <div>Zapatillas Knu Skool</div><div
              class="text-xs text-neutral-500"
            >
              100€
            </div>
          </p>
        </div>
        <div
          class="relative w-1 min-w-1/1 md:w-1/5 md:min-w-1/5 h-full flex flex-col items-center"
        >
          <img
            class="w-full h-full object-contain p-2"
            src={mocasines4.src}
            alt="Mocasines 4"
          />
          <p class="text-center p-2 w-full">
            <div>Zapatillas Knu Skool</div><div
              class="text-xs text-neutral-500"
            >
              100€
            </div>
          </p>
        </div>
        <div
          class="relative w-1 min-w-1/1 md:w-1/5 md:min-w-1/5 h-full flex flex-col items-center"
        >
          <img
            class="w-full h-full object-contain p-2"
            src={mocasines4.src}
            alt="Mocasines 4"
          />
          <p class="text-center p-2 w-full">
            <div>Zapatillas Knu Skool</div><div
              class="text-xs text-neutral-500"
            >
              100€
            </div>
          </p>
        </div>
        <div
          class="relative w-1 min-w-1/1 md:w-1/5 md:min-w-1/5 h-full flex flex-col items-center"
        >
          <img
            class="w-full h-full object-contain p-2"
            src={mocasines5.src}
            alt="Mocasines 5"
          />
          <p class="text-center p-2 w-full">
            <div>Zapatillas Knu Skool</div><div
              class="text-xs text-neutral-500"
            >
              100€
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
