---
import mocasines1 from '../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes.avif';
import mocasines2 from '../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (1).avif';
import mocasines3 from '../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (2).avif';
import mocasines4 from '../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (3).avif';
import mocasines5 from '../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (4).avif';
---

<div class="carrusel w-full h-full relative">
  <div class="marco w-full h-full overflow-hidden">
    <div class="imagenes flex transition-all duration-150">
      <img class="w-full min-w-full h-full object-contain p-2 shrink-0" src={mocasines1.src} />
      <img class="w-full min-w-full h-full object-contain p-2 shrink-0" src={mocasines2.src} />
      <img class="w-full min-w-full h-full object-contain p-2 shrink-0" src={mocasines3.src} />
      <img class="w-full min-w-full h-full object-contain p-2 shrink-0" src={mocasines4.src} />
      <img class="w-full min-w-full h-full object-contain p-2 shrink-0" src={mocasines5.src} />
    </div>
  </div>
  
  <button class="absolute left-0 top-1/2 z-999 leftArrow">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
    </svg>
  </button>
  
  <button class="absolute right-0 top-1/2 rightArrow z-999">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
    </svg>
  </button>
</div>


