---


const {ArrayRecomendaciones} = Astro.props

interface InterfazArrayRecomendaciones {
        Nombre: String,
        Imagen: HTMLSourceElement,
        Precio: Number
    }
---

<div class=" ml-2 text-[rgb(38,36,36)] mt-10">También te aconsejamos</div>
<div class="carrusel w-full h-full relative">
  <div class="carrusel w-full h-full relative">
    <div class="marco w-full h-full overflow-auto">
      <div class="imagenes flex transition-all duration-150">

         {ArrayRecomendaciones.map((imagen: InterfazArrayRecomendaciones)=>(
        <div
          class="relative w-5/6 min-w-5/7 md:w-5/7 md:min-w-1/5 h-full flex flex-col items-center"
        >
          <img
            class="w-full h-full object-contain p-1"
            src={imagen.Imagen.src}
            alt="Mocasines 1"
          />
          <p class="text-center p-2 w-full">
            <div>{imagen.Nombre}</div><div
              class="text-xs text-neutral-500"
            >
              {imagen.Precio}€
            </div>
          </p>
        </div>

        ))} 

        <!-- <div
          class="relative w-1/1 min-w-1/1 md:w-1/5 md:min-w-1/5 h-full flex flex-col items-center"
        >
          <img
            class="w-full h-full object-contain p-2"
            src={mocasines1.src}
            alt="Mocasines 1"
          />
          <p class="text-center p-2 w-full">
            <div>Zapatillas Knu Skool</div><div
              class="text-xs text-neutral-500"
            >
              100€
            </div>
          </p>
        </div> -->

      </div>
    </div>
  </div>
</div>
