---

const {category, id } = Astro.props;

import CategoriasMenuSticky from "@components/Categorias/CategoriasMenuSticky.astro";
import Layout from "@layouts/Layout.astro";
import CategoriasFiltros from "@components/Categorias/CategoriasFiltros.astro";
import CategoriasFinal from "@components/Categorias/CategoriasFinal.astro";
import CategoriasContenedorCard from "@components/Categorias/CategoriasContenedorCard.astro";
import categoriaVideo from "@assets/CategoriaVideo.webm";
import {fetchProductos} from "@utils/fetchProductos.ts";




interface interfazCategoria{
  order: number,
  name: string,
  id: string,
  father: string,
  categoryName: string,
}

interface interfazProducto{
  name: string,
  price: number,
  description: string,
  color: string,
  images: interefazImagen[]
  id: string
  tag: string
  category: interfazCategoriaProducto[]
}

interface interfazCategoriaProducto{
  id: string;
}

interface interefazImagen{
  alt: string,
  url: string,
  width: number,
  height: number,
}



let ArrayTallas = [
    {
        Size: 35,
        Precio: 95,
        Disponibilidad: true
    },
    {
        Size: 36,
        Precio: 95,
        Disponibilidad: true
    },
    {
        Size: 37,
        Precio: 95,
        Disponibilidad: true
    }]



let respuesta = await fetchProductos();
let arrayCategorias: interfazCategoria[] = respuesta.data.Categories;


let encontrado = (arrayCategorias.find((e: interfazCategoria ) => {
return e.id == id}))

let titulo = encontrado!.categoryName

let arrayTexto = respuesta.data.TickerTexts

let arrayProductos: interfazProducto[] = respuesta.data.Products;

//console.log(arrayProductos[0].category)

let arrayProductosCategoria = arrayProductos.filter((e: interfazProducto)=>{
  let encontrado = e.category.find((elemento: interfazCategoriaProducto) =>{
    return (elemento.id == id)
  })
  return encontrado 
})

//console.log(arrayProductosCategoria)

let numeroProductos = arrayProductosCategoria.length



console.log(arrayProductos[0].images)








export async function getStaticPaths(){

let respuesta = await fetchProductos();
//console.log(respuesta)
let arrayCategorias: interfazCategoria[] = respuesta.data.Categories;
//console.log(arrayCategorias)
//console.log(JSON.stringify(arrayCategorias))

let rutas: object[] = [];

arrayCategorias.map((e: interfazCategoria)=>{
  let slug = e.name+"-"+e.id;
  rutas.push({ 
    params: { 
      slug
    },
    props: {
      category: e.name, 
      id: e.id } 
  })
})

return rutas;

}





//console.log(arrayProductos)





---

<Layout arrayTexto={arrayTexto} mostrarTicker={true}>
  <CategoriasMenuSticky titulo={titulo}, numeroProductos={numeroProductos} id={id} arrayCategorias={arrayCategorias}/>
  <div class="flex">
    <CategoriasFiltros ArrayTallas={ArrayTallas} arrayColores={respuesta.data.Colors}/>
    <CategoriasContenedorCard arrayCards={arrayProductosCategoria}>
  <video autoplay muted loop class="row-start-1 row-end-1 col-start-2 col-end-2 md:col-start-3 md:col-end-3">
              <source src={categoriaVideo} type="video/webm" />

  </video>

    </CategoriasContenedorCard>
  </div>
  <CategoriasFinal numeroProductos={numeroProductos} numeroCards={arrayProductosCategoria.length} />
</Layout>
