---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import Review from "../components/Review.astro";
import CarruselProducto from "../components/CarruselProducto.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

import mocasines1 from "../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes.avif";
import mocasines2 from "../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (1).avif";
import mocasines3 from "../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (2).avif";
import mocasines4 from "../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (3).avif";
import mocasines5 from "../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes (4).avif";
import Accordion from "../components/Accordion.astro";
import AccordionScript from "../components/AccordionScript.astro";
import Carrusel from "../components/Carrusel.astro";
---

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="">
		<div>
			<main class="flex-col bg-white">
				<Nav />
				<div class="up md:flex">
					<div
						class="hidden left md:flex flex-wrap gap-0 p-4 max-w-7xl mx-auto"
					>
						<img
							class="w-1/2 h-auto object-contain p-2 m-w-100"
							src={mocasines1.src}
						/>
						<img
							class="w-1/2 h-auto object-contain p-2 m-w-100"
							src={mocasines2.src}
						/>
						<img
							class="w-1/2 h-auto object-contain p-2 m-w-100"
							src={mocasines3.src}
						/>
						<img
							class="w-1/2 h-auto object-contain p-2 m-w-100"
							src={mocasines4.src}
						/>
						<img
							class="w-1/2 h-auto object-contain p-2 m-w-100"
							src={mocasines5.src}
						/>

					</div>
						<div class="md:hidden">
							<Carrusel></Carrusel>
						</div>
					<div class="right max-w-md px-6">
						<div class="Title">
							<div class="categoryRoute text-xs text-right">
								Compra &gt; zapatillas
							</div>
							<div class="nombreProducto text-xl">
								Zapatillas Knu Skool
							</div>
							<div class="smallText text-xs">
								Uso Diario, diseño retro
							</div>
							<div class="precio">95,00€</div>
						</div>
						<div class="Images">
							<div
								class="flex flex-wrap gap-0 p-1 max-w-7xl mx-auto *:border-transparent *:hover:border-solid *:hover:border-2 *:hover:border-black *:transition-all *:duration-150 hover:cursor-pointer"
							>
								<img
									class="w-1/4 h-auto object-contain p-1"
									src={mocasines1.src}
								/>
								<img
									class="w-1/4 h-auto object-contain p-1"
									src={mocasines2.src}
								/>
								<img
									class="w-1/4 h-auto object-contain p-1"
									src={mocasines3.src}
								/>
								<img
									class="w-1/4 h-auto object-contain p-1"
									src={mocasines4.src}
								/>
								<img
									class="w-1/4 h-auto object-contain p-1"
									src={mocasines5.src}
								/>
							</div>
						</div>
						<div class="Size">
							<p class="mt-2">Talla</p>
							<button
								type="button"
								class="mt-2 px-6 py-4 border-2 border-solid verTallas space-y-4 w-full hover:cursor-pointer"
							>
								Elige una talla
							</button>
							<div class="mt-2 tableLink text-xs hover:cursor-pointer">
								Tabla de tallas
							</div>
						</div>
						<div class="Sell">
							<button
								type="button"
								class="mt-2 px-6 py-4 bg-gray-900 text-white hover:bg-black transition-all duration-150 space-y-4 min-w-full hover:cursor-pointer"
								>Añade a la cesta</button
							>
							<div class="mt-2 payPalText text-xs">
								Compra ahora y paga después con PayPal. <a
									class="underline hover:cursor-pointer"
									>Más Información</a
								>
							</div>
							<div
								class="Reserva px-6 py-4 bg-gray-100 underline hover:cursor-pointer flex"
							>
		
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
<path fill-rule="evenodd" clip-rule="evenodd" d="M18 8.25H6V20.25H18V8.25ZM4.5 6.75V21.75H19.5V6.75H4.5Z" fill="black"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 6.5625C7.5 4.59499 9.09499 3 11.0625 3H12.9375C14.905 3 16.5 4.59499 16.5 6.5625V8.25H7.5V6.5625ZM11.0625 4.5C9.92341 4.5 9 5.42341 9 6.5625V6.75H15V6.5625C15 5.42341 14.0766 4.5 12.9375 4.5H11.0625Z" fill="black"/>
<path d="M7.5 11.25C7.51156 11.3052 10.4131 20.25 10.4131 20.25H12.1448L14.8113 12.8075H19.125L19.2506 11.2508H13.5381L11.3248 17.4221L9.33264 11.25H7.5Z" fill="black"/>
</svg>

								<p class="ml-2">Reserva en tienda</p>
							</div>
						</div>
					</div>

					<div
						class="tallas fixed bg-white *:text-black top-0 right-0 h-full backdrop-blur-sm z-999 w-75"
					>
						<div class="title text-xl py-2 px-2">
							Elige una talla
						</div>
						<button
							type="button"
							class="py-2 border-t-2 border-gray-200 border-solid flex justify-between w-full *:px-2"
						>
							<div class="talla">37</div>
							<div class="precio">100€</div>
						</button>
						<button
							type="button"
							class="py-2 border-t-2 border-gray-200 border-solid flex justify-between w-full *:px-2"
						>
							<div class="talla">38</div>
							<div class="precio">100€</div>
						</button>
						<button
							type="button"
							class="py-2 border-t-2 bg-gray-100 border-gray-200 border-solid flex justify-between w-full *:px-2 *:text-gray-500"
						>
							<div class="talla">38</div>
							<div class="precio text-xs">agotado</div>
						</button>
					</div>
				</div>
				<Accordion />
				<CarruselProducto />
				<Review />
				<Footer class="" />
			</main>
		</div>

		<style>
			html,
			body {
				margin: 0;
				width: 100%;
				height: 100%;
			}
		</style>

		<script>
			//ABRIR MENU HAMBURGUESA
			const hamburguesa = document.querySelector<HTMLElement>(".tallas");
			const abrirHamburguesa =
				document.querySelector<HTMLElement>(".verTallas");

			if (hamburguesa && abrirHamburguesa) {
				hamburguesa.style.maxWidth = "0px"; //Lo oculto, esto se ejcuta por defecto al iniciar la pagina.
				hamburguesa.style.overflow = "hidden";
				hamburguesa.style.transition = "max-width 0.3s linear";

				abrirHamburguesa.addEventListener("click", abrirMenu);

				function abrirMenu() {
					if (!hamburguesa || !abrirHamburguesa) {
						return;
					}
					if (hamburguesa.style.maxWidth === "0px") {
						hamburguesa.style.maxWidth =
							hamburguesa.scrollHeight + "px";
					} else {
						hamburguesa.style.maxWidth = "0px";
					}
				}
			}
		</script>
		<AccordionScript />
	</body>
</html>
